
<!DOCTYPE html> 
<html> 
      
<head> 
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> 
        Home Page
    </title> 
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/css/index.css">

    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> 
  
<body> 
    <input id="searchbar" type="text" name="search" placeholder="Search Movies"> 
    <button id="movie" placeholder="Add movie"> ADD Movie</button>
    <button id="timing" placeholder="Add timing"> ADD Timing</button>
    <button id="ticket" placeholder="Buy Ticket"> Buy TIckets</button>
</body>
 
 <script>
     $("#movie").click(function(e) {
    e.preventDefault();
    $.ajax({
    url: "/add_movie",
    type: 'GET',
    success: function(res) {
        window.location.href = "/add_moveies";
    }
});
});
$("#timing").click(function(e) {
    e.preventDefault();
    $.ajax({
    url: "/add_timing",
    type: 'GET',
    success: function(res) {
        window.location.href = "/add_timings";
    }
});
});
$("#ticket").click(function(e) {
    e.preventDefault();
    $.ajax({
    url: "/ticket",
    type: 'GET',
    success: function(res) {
        window.location.href = "/tickets";
    }
});
});

 </script>
  
</html> 
